@use "./base.scss";

// put your custom CSS here!

.page {
  & article {
    p, li {
      font-size: 1.15rem;
      margin-top: 0.525rem;
      margin-bottom: 0.525rem;
    }

    p,li {
      & > strong {
        color: #C61746
      }
      
      & > em { 
          color: #44D8BB
      }
    }
  }
}

h1 {
  font-size: 1.9rem;
  margin-top: 2.4rem;
  margin-bottom: 1.15rem;
}

h2 {
  font-size: 1.75rem;
  margin-top: 2.05rem;
  margin-bottom: 1.15rem;
}

h3 {
  font-size: 1.27rem;
  margin-top: 1.77rem;
  margin-bottom: 1.15rem;
}

h4,
h5,
h6 {
  font-size: 1.15rem;
  margin-top: 1.65rem;
  margin-bottom: 1.15rem;
}